{%extends "dashboard.html"%}

{%block title%}
Admin|Change Password
{%endblock%}

{%block content%}
<div class="row">

    {%set PR=get_flashed_messages(category_filter="password_reset")%}
    {%for i in PR%}
    <div class="alert alert-success">{{i}}</div>
    {%endfor%}

    {%set NPR=get_flashed_messages(category_filter="password_not_reset")%}
    {%for x in NPR%}
    <div class="alert alert-danger">{{x}}</div>
    {%endfor%}

    <h2>Admin Password Settings</h2>
    <div class="col-md-8 offset-md-2 mt-4">
        <form action='/adminpswdchange/' method='post'>
            <div class="mb-3">
                <label class="form-label" for="oldpswd">Please provide your old password</label>
                <input type="password" id="oldpswd" class='form-control' name="oldpswd">
            </div>
            <div class="mb-3">
                <label class="form-label" for="newpswd">Please provide your new password</label>
                <input type="password" id="newpswd" class='form-control' name="newpswd">
            </div>
            <div class="mb-3">
                <label class="form-label" for="confamnewpswd">Please confirm your new password</label>
                <input type="password" id="confamnewpswd" class='form-control' name="confamnewpswd">
            </div>
            <input type="hidden" name="stfff" class="form-control" value="{{session.get('admin_id')}}">

            <input type="hidden" name="csrf_token" class="form-control" value="{{csrf_token()}}">
            <button type='submit' class='btn btn-success'>Submit</button>
        </form>
    </div>
</div>
{%endblock content%}