<div class="row py-5" style="background-color: #000; color:#fff">
    <div class="col-12 mb-2 col-md-3">
            <h5>Company</h5>
            <a href="#" class="d-block links">About Us</a>
            <a href="/contact_us/" class="d-block links">Contact Us</a>
            <a href="/login/"class="d-block links">Client Login</a>
            <a href="#" class="d-block links">Patners</a>
    </div>
    <div class="col-12 mb-2 col-md-3">
            <h5>Resources</h5>
            <a href="#" class="d-block links">Case Studies</a>
            <a href="#" class="d-block links">Engagement Solutions</a>
            <a href="#" class="d-block links">Terms and Conditions</a>
            <a href="#" class="d-block links">Privacy Policy</a>
            <a href="#" class="d-block links">FAQ</a>
    </div>
    <div class="col-12 mb-2 col-md-3">
            <h5>Products</h5>
            <a href="#" class="d-block links">Appointment Reminders</a>
            <a href="#" class="d-block links">Telehealth</a>
            <a href="#" class="d-block links">Digital Registration</a>
            <a href="#" class="d-block links">Patients Payments</a>
            <a href="#" class="d-block links">Healthcare Growth Optimization</a>
    </div>
    <div class="col-12 col-md-3">
        <div class="row">
            <div class="col-12">
                <h5>Follow Us</h5>
                <div class="row">
                    <div class="col-1">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="col-1">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div class="col-1">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>
                    <div class="col-1">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>