{%extends 'staff/doctordashboard.html'%}

{%block title%}
{%for stf_title in staffinfo%}
{%if stf_title.staff_role==1%}
Doctor|Change Phone
{%else%}
Nurse |Change Phone
{%endif%}
{%endfor%}
{%endblock title%}

{%block content%}
            <div class="row">

                {%set phone=get_flashed_messages(category_filter="phone_changed")%}
                {%for i in phone%}
                <div class="alert alert-success">{{i}}</div>
                {%endfor%}

                {%set PNC=get_flashed_messages(category_filter="phone_not_changed")%}
                {%for x in PNC%}
                <div class="alert alert-danger">{{x}}</div>
                {%endfor%}

                <h2>Update Phone Number Records</h2>
                <div class="col-md-8 offset-md-2 mt-4">
                    <form action='/staffphonechange/' method='post'>
                        <div class="mb-3">
                            <label class="form-label" for="oldnumber">Please provide your phone number</label>
                            <input type="text" id="oldnumber" class='form-control' name="oldnumber" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="newnumber">Please provide your new phone number</label>
                            <input type="text" id="newnumber" class='form-control' name="newnumber" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="confam_new_number">Please confirm your new phone number</label>
                            <input type="text" id="confam_new_number" class='form-control' name="confam_new_number" required>
                        </div>
                        <input type="hidden" name="stfff" class="form-control" value="{{session.get('staff_id')}}">

                        <input type="hidden" name="csrf_token" class="form-control" value="{{csrf_token()}}">
                        <button type='submit' class='btn btn-success'>Submit</button>
                    </form>
                </div>
            </div>
            {%endblock content%}