{%extends "staff/doctordashboard.html"%}
{%block title%}
Doctor|Colleagues
{%endblock title%}

{%block content%}

<div id="allcolleagues">
    <div class='row'>
        <div class="col-12 mb-3">
            <div class="row pt-3">
                <div class="col-6"><h2>Connect with colleagues</h2></div>
            </div>
        </div>
        <!--colleagues Table-->
        <div class="col-12">
            {%if costaff%}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for x in costaff%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{x.fname}} {{x.lname}} {{x.othername}}</td>
                        <td>{{x.staff_dept.dept_name}}</td>
                        {%if x.staff_role==1%}
                            <td><a class="btn btn-success" id="{{x.staff_id}}" data-bs-toggle="modal" data-bs-target="#sendmessage">Message</a></td>
                        {%else%}
                            <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sendmessage" disabled>Message</button></td>
                        {%endif%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            {%endif%}
        </div>
    </div>
</div>
{%endblock content%}




{%block others%}       
{#send message#}
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="sendmessage" tabindex="-1" aria-labelledby="sendmsg" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendmsg">Send Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id='messagecolleague'>
                    <div id='msg_status' class="mb-3">
                        
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for='topic'><strong>Topic</strong></label>
                        <input class="form-control" id='topic' type='text' name='topic' placeholder="Topic" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for='msg'><strong>Message</strong></label>
                        <textarea class="form-control" id='msg' name='message' placeholder="Type Your Message" required></textarea>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type='hidden' id='from' name='sender' value="{{session.get('staff_id')}}" >
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type='hidden' id='senderLoc' name='senderhospital' value="{{session.get('staff_hospid')}}" >
                    </div>
                    <div class="mb-3">
                        <select id="receiver" name="receiver" class="form-select" required>
                            <option value="#">Select message destination</option>
                            {%for s in costaff%}
                            {%if s.staff_role==1%}
                            <option value="{{s.staff_id}}">{{s.fname}} {{s.lname}}</option>
                            {%else%}
                            continue
                            {%endif%}
                            {%endfor%}
                        </select>
                    </div>

                    <input class="form-control" type='hidden' name='csrf_token' value="{{csrf_token()}}" 
                    <div class="mb-3">
                        <button type='button' class='btn btn-primary btn-sm form-control' id='btnmsg_colleague'>Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock others%}



{%block unique_JQ%}
$('#btnmsg_colleague').click(function(){
    var form = document.getElementById('messagecolleague')
    var formdata= new FormData(form)

    $.ajax({
        url:"/send_costaff_message/",
        data:formdata,
        dataType:"text",
        type:"post",
        cache:false,
        processData:false,
        contentType:false,
        success:function(rsp){
            if (rsp == 'Message Sent'){
                $('#msg_status').addClass('alert alert-success')
                $('#msg_status').html(rsp)
                $('#btnmsg_colleague').prop('disabled',true)
            }
            else{
                $('#msg_status').removeClass('alert alert-success')
                $('#msg_status').addClass('alert alert-danger')
                $('#msg_status').html(rsp)
                $('#btnmsg_colleague').prop('disabled',False)
            }
                
        },  
        error:function(msg){
            console.log(msg)
        }
    })
})
{%endblock%}