{%extends "staff/doctordashboard.html"%}
{%block title%}Nurse|Register Patient{%endblock title%}
{%block content%}
<!--Add Patients-->
<div id="newStaff">
    <div class="row">
        <div class="col-12">
            <h2>Register Patient</h2>
            <form action='/nurseregisterpatient/' method='post'>

                {#This is for successful reg#}
                {%set regstatus=get_flashed_messages(category_filter="newpatient")%}
                {%for i in regstatus%}
                <div class="alert alert-success">{{i}}</div>
                {%endfor%}

                {#This is for failed reg#}
                {%set failedreg=get_flashed_messages(category_filter="pnotregistered")%}
                {%for f in failedreg%}
                <div class="alert alert-danger">{{f}}</div>
                {%endfor%}

                <div class="mb-3">
                    <input type="text" id="first_Name" name="firstname" class="form-control" placeholder="First Name*" required>
                </div>
                <div class="mb-3">
                    <input type="text" id="last_Name" name="lastname" class="form-control" placeholder="Last Name*" required>
                </div>
                <div class="mb-3">
                    <input type="text" id="other_Name" name="othername" class="form-control" placeholder="Other Name*">
                </div>
                <div class="mb-3">
                    <label class="form-label" for='patient_DOB'>Date of Birth</label>
                    <input type="date" id="patient_DOB" name="DOB" class="form-control" placeholder="Date of Birth(YYYY-MM-DD)*" required>
                </div>
                <div class="mb-3">
                    <select id="hospital" name="hospital" class="form-select" required>
                        <option value="#">Select your instituition</option>
                        {%for c in clinics%}
                        <option value="{{c.hosp_id}}">{{c.hosp_name}}</option>
                        {%endfor%}
                        </select>
                </div>
                <div class="mb-3">
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone*" required>
                </div>
                <div class="mb-3">
                    <input type="text" id="address" name="address" class="form-control" placeholder="Contact Address*" required>
                </div>
                <div class="mb-3">
                    <select id="country" name="country" class="form-select" required>
                        <option value="#">Choose your country</option>
                        {%for x in nations%}
                        <option value="{{x.country_id}}">{{x.country_name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="mb-3">
                    <select id="state" name="state" class="form-select" required>
                        <option value="#">Select your state of origin</option>
                        {%for s in Nigstates%}
                        <option value="{{s.state_id}}">{{s.state_name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="mb-3 dodge">
                        <h6>Gender</h6>
                        <input id="gender1" class="form-check-input" name="gender" value="male" type="radio" required>
                        <label class="form-check-label">Male</label>
                        <input id="gender2" class="form-check-input" name="gender" value="female" type="radio" required>
                        <label class="form-check-label">Female</label>
                </div>

                <input type="hidden" name="csrf_token" class="form-control" value="{{csrf_token()}}">
                <button type="submit" class="btn btn-primary" id="addpatient">Submit</button>
                <button type="reset" class="btn btn-danger" id="cancelpatientreg">Cancel</button>
            </form>
        </div>
    </div>
</div>
{%endblock content%}

